@model GorevTakipSistemi.Models.Task

@{
    ViewData["Title"] = "Görev Detayları";
}

<h1>Görev Detayları</h1>

<div>
    <h4>Görev</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedUser.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssignedUser.Username)
        </dd>
    </dl>
</div>
<div>
    @* Admin ise veya görevi kendisine ait bir User ise düzenleme butonu görünür *@
    @if (User.IsInRole("Admin") || (User.IsInRole("User") && Model.AssignedUserId.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Düzenle</a>
    }
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
</div>