@model GorevTakipSistemi.Models.Task

@{
    ViewData["Title"] = "Görev Detayları";
}

<h1 class="mb-4">Görev Detayları</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<div>
    <h4>Görev Bilgileri</h4> 
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssignedUser)
        </dt>
        <dd class="col-sm-9">
           
            @(Model.AssignedUser != null ? Model.AssignedUser.Username : "Atanmamış/Kullanıcı Yok")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-9">
            @Model.CreatedDate.ToString("dd.MM.yyyy HH:mm")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-9">
            @(Model.StartDate.HasValue ? Model.StartDate.Value.ToString("dd.MM.yyyy HH:mm") : "N/A")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>
        <dd class="col-sm-9">
            @(Model.CompletionDate.HasValue ? Model.CompletionDate.Value.ToString("dd.MM.yyyy HH:mm") : "N/A")
        </dd>


        <dt class="col-sm-3">
            Görsel
        </dt>
        <dd class="col-sm-9">
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="~/@Model.ImagePath" alt="Görev Görseli" class="img-fluid border rounded" style="max-width: 400px; height: auto;" />
            }
            else
            {
                <span>Görsel Eklenmemiş</span>
            }
        </dd>
 
    </dl>
</div>

<div class="mt-4 mb-5">
  
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Düzenle</a>
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Sil</a>
    }
</div>
       
        